a
  text-decoration: none

  color: #008ACE

a:link
  border-bottom: 1px solid rgba(0,137,255,.3)

a:visited
  color: #B40EB4
  border-color: rgba(180,14,180,.3)

a:hover,
a:active
  color: #CC0000

a:focus
  outline: none
  outline: thin dotted
